#Container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("map.jpg");
}
#Outputcorner{
    background-color: turquoise;
    display: flex;
    flex-direction: column; 

}